body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/carpet.jpg");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: #da2020;
    font-size: 3em;
}

#message-el {
    font-style: italic;
}

button {
    color: #fcffe1;
    width: 150px;
    background: #c11c1c;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin: 10px;
}

button:active {
    transform: scale(0.9);
}