@font-face {
    font-family: "Digital Clock";
    src: url("fonts/Digital\ Dismay.otf");
}

* {
    padding: 9;
    margin: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 100vh;
    background-color: #102426;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    text-align: center;
    color: #eee;
}

.team-name {
    font-size: 3em;
}

.team-points {
    font-size: 6em;
    padding: 12px 18px;
    background-color: rgb(18, 17, 17);
    border-radius: 12px;
    margin: 20px;
    min-width: 100px;
    font-weight: 500;
    color: rgb(255, 0, 0);
    text-shadow: 1px 1px 5px red;
}

.digital {
    font-family: "Digital Clock";
}

.container div button {
    padding: 6px 8px;
    font-size: 1em;
    background-color: transparent;
    color: #eee;
    border: 2px solid #eee;
    border-radius: 6px;
    cursor: pointer;
}

.reset-btn {
    background-color: transparent;
    padding: 8px;
    width: 170px;
    border-radius: 8px;
    border: 2px solid #eee;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #eee;
    margin-bottom: 24px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

button:hover {
    color: #102426;
    background-color: #eee;
}